body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: lightsteelblue;
    margin:20px;
}

.square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size:5em;
    line-height:10rem;
    height: 10rem;    
    width: 10rem;
    margin-right: -1px;
    margin-left: -1px;
    padding: 0;
}

.square:focus {
    outline: none;
}

.game {
    display: flex;
    flex-direction: row;
    display:flexbox;
    justify-content: center;
}

.board-row:after {
    clear: both;
    content: "";
    display: table;
}

.board {
}

.status {
    font-size: 30px;
    height: 50px;
    margin: 50px;
}